# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
bin/

# NuGet Packages
*.nupkg
packages/

# Visual Studio files
*.user
*.suo
*.sln.docstates
*.sln.ide
*.sln.layout
*.sln.settings
*.sln.tmp
*.suo
*.userprefs
*.vs/

# Made by us 
*QLNS/DatabaseConfig.cs